body {
    background-color: grey;
}

h1 {
    color: yellow;
}

p {
    color: black;
    font-family: 'Flamenco', cursive;
}

td {
    font-family: 'Flamenco', cursive;
}

li {
    font-family: 'Flamenco', cursive;
}

table, th, td {
    border: 1px solid black;
}